PORT=3000
NODE_ENV=development

//zamijenite your_password sa stvarnom lozinkom za bazu
DB_URL=postgresql://postgres.ezusidttjylstjowqvcs:YOUR_PASSWORD@aws-1-eu-central-1.pooler.supabase.com:5432/postgres


JWT_SECRET=your-secret-key

# Frontend URL za verifikacione/reset linkove
FRONTEND_URL=http://localhost:5173

# Email servis (Nodemailer SMTP)
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your-mail-user
MAIL_PASS=your-mail-pass
MAIL_FROM="PraksaHub <no-reply@praksahub.local>"