PORT=3000
NODE_ENV=development
DB_URL=postgresql://postgres.[project-ref]:[your-password]@aws-1-eu-central-1.pooler.supabase.com:5432/postgres
JWT_SECRET=your-secret-key

SUPABASE_URL=https://[project-ref].supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
FRONTEND_URL=http://localhost:5173

BREVO_API_KEY=your-brevo-api-key
BREVO_SENDER_EMAIL=your-verified-sender@email.com
