PORT=3000
NODE_ENV=development

//zamijenite your_password sa stvarnom lozinkom za bazu
DB_URL=postgresql://postgres.ezusidttjylstjowqvcs:YOUR_PASSWORD@aws-1-eu-central-1.pooler.supabase.com:5432/postgres


JWT_SECRET=your-secret-key